<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Student Registration</h1>
                    <h6>Feel Free to Signup</h6>
                    <hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    
                    <div class="mb-7">
                        <label for="username">Full Name</label><br>
                        <input formControlName="fullname" placeholder="Enter Name" type="text" id="username" name="username" required>
                    </div><br>
                    <div class="mb-7">
                        <label for="username">Mobile Number</label><br>
                        <input formControlName="mobile" placeholder="Enter Mobile Number" type="text" id="username" name="username" required>
                    </div><br>
                    <div class="mb-7">
                        <label for="username">Email Address</label><br>
                        <input formControlName="email" placeholder="Email ID" type="text" id="username" name="username" required>
                    </div><br>
                    <div class="mb-7">
                        <label for="password">Password</label><br>
                        <input formControlName="password" placeholder="Enter Password" type="password" id="password" name="password" required>
                    </div><br>
                    <button type="submit" class="btn-btn-primary mx-2">SignUp</button>
                </form><br>
                <a style="color: #fff; margin-top:5px" routerLink="/login">Already Member? Click to login!</a>
            </div>
        </div>
    </div>
</div>
